.idea
/.vagrant
/public/css
/public/js
/public/build
/public/fonts
/src/vendor
/src/node_modules
/src/.env
/src/.phpstorm.meta.php
/src/_ide_helper_models.php
/src/_ide_helper.php
/src/composer.lock
# no nos interesa por ahora versionar la compilacion de typescript
/src/resources/assets/js/appBundle.js
